.mock{
  display: block;
  width: 80%;
  height: 80vh;
  margin: 20px auto;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #000;
  background-color: white;
}
.button-normal{
  padding: 5px 10px;
  border-radius: 3px;
  background-color: gray;
  border: 1px;
  color: #ffffff;
  outline: none;
}
.table-normal{
  width: 100%;
}
.tr-normal{
  height: 30px;
}
