.con{
  color: red;
  margin-top: 30vh;
}
.button-normal{
  padding: 5px 10px;
  border-radius: 3px;
  background-color: gray;
  border: 1px;
  color: #ffffff;
  outline: none;
}

.input-normal{
  width: 210px;
  height: 30px;
  padding-left: 1%;
  border: 1px solid #000;
  border-radius: 3px;
  outline: none;
}

.div-input{
  width: 210px;
  margin: 0 auto;
}

.pagination{
  color: #000;
}
